html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: header2font;
	src: url("../fonts/secrcode.ttf");
}

@font-face {
	font-family: dealerplate;
	src: url("../fonts/dealerplate_california.ttf");
}

@font-face {
	font-family: lemonbrush;
	src: url("../fonts/lemonbrush.otf");
}

@font-face {
	font-family: deadstock;
	src: url("../fonts/Dead_Stock.ttf");
}

@font-face {
	font-family: killthenoise;
	src: url("../fonts/Kill_The_Noise.otf");
}

.container {
	width: 1000px;
	margin: 0 auto;
}

a {
	color: black;
	text-decoration: none;
	padding: 5px;
	font-family: Calibri;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8ddce3; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7abec4; 
}

header {
	background-color: white;
	height: 117px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 99;
}

header img {
	margin-top: 20px;
	margin-left: 35px;
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin-top: 32px;
}

nav ul li {
	display: inline-block;
	margin-right: 35px;
}

nav ul li a {
	font-family: Arial;
	font-size: 19px;
}

nav ul li a:hover{
	background-color: #dff2f5;
	border-radius: 7px;
	transition: all 0.5s;
}

nav ul li a.active {
	background-color: #d3f1f5;
	border-radius: 7px;
}

.articles {
	width: 100%;
	background-color: white;
	padding: 30px 0px;	
}

.articles article {
	width: 33%;
	background-color: white;
	text-align: center;
}

.articles article h2 {
	text-align: center;
	text-transform: uppercase;
}

.imgart1 {
	width: 100%;
	height: 100px;
	background-image: url("../Photos/gamepadxbox.png");
	background-repeat: no-repeat;
	background-size: 120px;
	margin-top: 20px;
	margin-left: 95px;
}

.firstpageheader {
	font-family: dealerplate;
	font-size: 80px;
	text-align: center;
	margin-right: 10px;
	color: white;
	text-decoration: bold;
}

footer {
	width: 100%;
	background-color: #4f6e70;
	padding: 17px 0px;
}

footer h1 {
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: Calibri;
	margin-bottom: 8px;
	margin-top: -6px;
}

.second_background {
	background-color: #85a8ab;
	width: 100%;
	font-size: 21px;
	color: white;
	text-align: center;
	font-family: header2font;
	z-index: -1;
}

button:hover {
    background-color: #66898c;
    font-size: 16px;
}

button {
	border-radius: 10px;
	color: #002a3a;
}

.indexpageh3 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #002a3a;
}

.mySection1 {
    background-color: white;
    width: 307px;
    height: 367px;
    margin-left: 22px;
    margin-top: 65px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-color: black;
    color: black;
    border-radius: 20px;
    font-family: Calibri;
}

.firstpagedownheader {
	font-family: dealerplate;
	font-size: 80px;
	text-align: center;
	margin-right: 10px;
	color: white;
	text-decoration: bold;
}

.button {
 	 background-color: #66898c;
 	 border: none;
 	 color: white;
 	 padding: 13px;
 	 text-align: center;
 	 text-decoration: none;
  	display: inline-block;
  	font-size: 13px;
  	cursor: pointer;
  	border-radius: 12px;
}

#footertext {
	text-align: center;
	color: white;
	font-size: 19px;
}

#abouttextfromfirstpage {
	text-align: center;
	color: white;
	font-size: 27px;
	font-family: Calibri;
}

#pricetablecode {
 	 font-family: arial, sans-serif;
 	 border-collapse: collapse;
  	 width: 900px;
  	 margin-left: 50px;
}

.pricetabletext {
 	 border: 2px solid #5d8185;
 	 text-align: center;
  	 color: #00141c;
  	 padding: 29px;
}

.pricetable {
  	 border: 2px solid #5d8185;
  	 text-align: center;
 	 color: #00141c;
 	 padding: 20px;
 	 font-size: 30px;
}  

.forpricetable:nth-child(even) {
 	 background-color: #90c3d6;
} 	 

.forpricetable:nth-child(odd) {
 	 background-color: #d1fcff;
} 

#priceaddon {
	font-size: 18px;
	text-align: center;
	margin-right: 10px;
}

#priceaddonjos {
	font-size: 33px;
	text-align: center;
	color: white;
}

#updatetabtext {
	font-family: Calibri;
	font-size: 25px;
}

.mySection2 {
	background-color: white;
    width: 314px;
    height: 575px;
    margin-left: 15px;
    margin-top: 65px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-color: black;
    color: black;
    border-radius: 20px;
    font-family: Calibri;
}

.imgspecsgtav {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/gta5photoforspecs2.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 14px;
	margin-left: 64px;
}

.specspageh3 {
	font-size: 35px;
    font-weight: normal;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #002a3a;
}

.imgspecsgta4 {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/gta4photoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 14px;
	margin-left: 64px;
}

.imgspecscsgo {
	width: 100%;
	height: 145px;
	background-image: url("../Photos/csgophotoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 40px;
	margin-left: 64px;
}

.imgspecsfh3 {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/forzahorizon3photoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 18px;
	margin-left: 64px;
}

.imgspecsfh4 {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/forzahorizon4photoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 19px;
	margin-left: 64px;
}

.imgspecsfm7 {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/forzamotorsport7photoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 19px;
	margin-left: 64px;
}

.imgspecsfortnite {
	width: 100%;
	height: 184px;
	background-image: url("../Photos/fortnitephotoforspecs.png");
	background-repeat: no-repeat;
	background-size: 250px;
	margin-top: 19px;
	margin-left: 25px;
}

.imgspecssteep {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/steepphotoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 16px;
	margin-left: 64px;
}

.imgspecspubg {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/pubgphotoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 16px;
	margin-left: 64px;
}

.imgspecswitcher3 {
	width: 100%;
	height: 185px;
	background-image: url("../Photos/witcher3photoforspecs.png");
	background-repeat: no-repeat;
	background-size: 185px;
	margin-top: 16px;
	margin-left: 65px;
}

.main-content {
	background-color: #85a8ab;
	width: 100%;
	font-size: 21px;
	color: white;
	text-align: center;
	font-family: header2font;
}

.specs {
	text-align: left;
}

.principallineforspecs {
	margin-left: 38px;
	color: #520000;
}

.secondarylineforspecs {
	margin-left: 10px;
	margin-right: 22px;
	font-family: Calibri;
	font-size: 17px;
	text-align: left;
	color: #393b04;
}

.updatestablist {
	text-align: left;
	margin-left: 21%;
}




@media (max-width: 1100px) {
	.updatestablist {
	text-align: left;
	margin-left: 18%;
	font-size: 20px;
	}
	#abouttextfromfirstpage {
	text-align: center;
	color: white;
	font-size: 23px;
	font-family: Calibri;
	}
	.second_background {
	background-color: #85a8ab;
	width: 1000px;
	font-size: 21px;
	color: white;
	text-align: center;
	font-family: header2font;
	}
	footer {
	width: 1000px;
	background-color: #4f6e70;
	padding: 17px 0px;
	}
	#footertext {
	text-align: center;
	color: white;
	font-size: 18px;
	}
	#cyberpunkwiki {
		display: none;
	}
	/* width */
	::-webkit-scrollbar {
  		display: none;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  display: none;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  display: none;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	 display: none; 
	}
	.cyberpunk2077textfromupcominggames {
		display: none;
	}
	.watchdogslegiontextfromupcominggames {
		display: none;
	}
	.dyinglight2textfromupcominggames {
		display: none;
	}
	.dyinglight2textfromupcominggames {
		display: none;
	}
	#watchdogslegionwiki {
		display: none;
	}
	#nfsheatwiki {
		display: none;
	}
	#dyinglight2wiki {
		display: none;
	}
	.imghometabcyberpunk2077logo {
		display: none;
	}
	.imghometabwatchdogslegionlogo {
		display: none;
	}
	.imghometabnfsheatlogo {
		display: none;
	}
	.imghometabdyinglight2logo {
		display: none;
	}
}



#header-fix-space { 
	height: 117px; 
}

#fixed-header {
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
}

.imghometabcyberpunk2077 {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/cyberpunk2077t.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	margin-left: 0px; 
}

.imghometabcyberpunk2077logo {
	width: 100%;
	height: 195px;
	background-image: url("../Photos/HomeGamesTab/cyberpunk2077logo.png");
	background-repeat: no-repeat;
	background-size: 500px;
	margin-top: 0px;
	margin-right: -10px;
	position: absolute;
	background-position: 1250px;
}

.cyberpunk2077textfromupcominggames {
	position: absolute;
	padding-top: 200px;
	padding-left: 1160px;
	margin-right: 70px;
	font-family: dealerplate;
	font-size: 32px;
}

#cyberpunkwiki {
	position: absolute;
	margin-top: 770px;
	margin-left: 428px;
	font-family: dealerplate;
	color: white;
	text-align: right;
	text-decoration: underline;
}

.imghometabwatchdogslegion {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/watchdogslegiont.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	background-position: right;
}

.imghometabwatchdogslegionlogo {
	width: 100%;
	height: 210px;
	background-image: url("../Photos/HomeGamesTab/watchdogslegionlogo.png");
	background-repeat: no-repeat;
	background-size: 710px;
	margin-top: 0px;
	position: absolute;
	background-position: -55px;
}

.watchdogslegiontextfromupcominggames {
	position: absolute;
	padding-top: 200px;
	padding-right: 1340px;
	margin-left: 40px;
	font-family: dealerplate;
	font-size: 30px;
}

#watchdogslegionwiki {
	position: absolute;
	left: 181px;
	margin-top: 790px;
	font-family: dealerplate;
	color: white;
	text-decoration: underline;
}

										#newupdatetemp1 {
											text-align: center;
											margin-left: 15px;
										}

										#newupdatetemparrow1 {
											text-align: center;
											margin-left: 15px;
										}

										#newupdatetemp2 {
											text-align: right;
											margin-right: 84px;
										}

										#newupdatetemparrow2 {
											text-align: right;
											margin-right: 150px;
										}										

.imghometabnfsheatlogo {
	width: 100%;
	height: 220px;
	background-image: url("../Photos/HomeGamesTab/nfsheatlogo.png");
	background-repeat: no-repeat;
	background-size: 400px;
	margin-top: 20px;
	margin-right: -20px;
	position: absolute;
	background-position: 1400px;
	z-index: 1;
}

.imghometabnfsheat {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/nfsheatt.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	margin-left: 0px;
}

#nfsheatwiki {
	position: absolute;
	margin-top: 770px;
	right: 183px;
	font-family: dealerplate;
	color: white;
	text-align: right;
	text-decoration: underline;
}

.nfsheattextfromupcominggames {
	position: absolute;
	padding-top: 180px;
	padding-left: 1350px;
	margin-right: 50px;
	font-family: dealerplate;
	font-size: 40px;
}

.imghometabdyinglight2logo {
	width: 100%;
	height: 210px;
	background-image: url("../Photos/HomeGamesTab/dyinglight2logo.png");
	background-repeat: no-repeat;
	background-size: 500px;
	margin-top: 0px;
	position: absolute;
	background-position: 55px;
}

.imghometabdyinglight2 {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/dyinglight2t.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	background-position: right;
}

#dyinglight2wiki {
	position: absolute;
	left: 180px;
	margin-top: 790px;
	font-family: dealerplate;
	color: white;
	text-decoration: underline;
}

.dyinglight2textfromupcominggames {
	position: absolute;
	padding-top: 190px;
	padding-right: 1340px;
	margin-left: 40px;
	font-family: dealerplate;
	font-size: 31px;
}

.imghometabborderlands3logo {
	width: 100%;
	height: 195px;
	background-image: url("../Photos/HomeGamesTab/borderlands3logo.png");
	background-repeat: no-repeat;
	background-size: 500px;
	margin-top: 0px;
	margin-right: -10px;
	position: absolute;
	background-position: 1300px;
}

.imghometabborderlands3 {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/borderlands3t.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	margin-left: 0px;
}

#borderlands3wiki {
	position: absolute;
	margin-top: 788px;
	right: 240px;
	font-family: dealerplate;
	color: white;
	text-align: right;
	text-decoration: underline;
}

.borderlands3textfromnewgames {
	position: absolute;
	padding-top: 195px;
	padding-left: 1250px;
	margin-right: 60px;
	font-family: dealerplate;
	font-size: 32px;
}

.imghometabrdr2logo {
	width: 100%;
	height: 210px;
	background-image: url("../Photos/HomeGamesTab/rdr2logo.png");
	background-repeat: no-repeat;
	background-size: 400px;
	margin-top: 0px;
	position: absolute;
	background-position: 110px;
}

.imghometabrdr2 {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/rdr2t.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	background-position: right;
}

#rdr2wiki {
	position: absolute;
	left: 185px;
	margin-top: 790px;
	font-family: dealerplate;
	color: white;
	text-decoration: underline;
}

.rdr2textfromnewgames {
	position: absolute;
	padding-top: 185px;
	padding-right: 1300px;
	margin-left: 25px;
	font-family: dealerplate;
	font-size: 35px;
}

.imghometabcodrlogo {
	width: 100%;
	height: 195px;
	background-image: url("../Photos/HomeGamesTab/codrlogo.png");
	background-repeat: no-repeat;
	background-size: 500px;
	margin-top: 0px;
	margin-right: -10px;
	position: absolute;
	background-position: 1300px;
}

.imghometabcodr {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/codrt.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	margin-left: 0px;
}

#codrwiki {
	position: absolute;
	margin-top: 788px;
	right: 240px;
	font-family: dealerplate;
	color: white;
	text-align: right;
	text-decoration: underline;
}

.codrtextfromnewgames {
	position: absolute;
	padding-top: 195px;
	padding-left: 1250px;
	margin-right: 60px;
	font-family: dealerplate;
	font-size: 36px;
}

.imghometabfifa20logo {
	width: 100%;
	height: 210px;
	background-image: url("../Photos/HomeGamesTab/fifa20logo.png");
	background-repeat: no-repeat;
	background-size: 400px;
	margin-top: 0px;
	position: absolute;
	background-position: 110px;
}

.imghometabfifa20 {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/fifa20t.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	background-position: right;
}

#fifa20wiki {
	position: absolute;
	left: 185px;
	margin-top: 785px;
	font-family: dealerplate;
	color: white;
	text-decoration: underline;
}

.fifa20textfromnewgames {
	position: absolute;
	padding-top: 185px;
	padding-right: 1300px;
	margin-left: 25px;
	font-family: dealerplate;
	font-size: 34px;
}

.imghometabgridlogo {
	width: 100%;
	height: 195px;
	background-image: url("../Photos/HomeGamesTab/gridlogo.png");
	background-repeat: no-repeat;
	background-size: 500px;
	margin-top: 10px;
	margin-right: -10px;
	position: absolute;
	background-position: 1300px;
}

.imghometabgrid {
	width: 100%;
	height: 846px;
	background-image: url("../Photos/HomeGamesTab/gridt.png");
	background-repeat: no-repeat;
	background-size: 1504px;
	margin-top: 0px;
	margin-left: 0px;
}

#gridwiki {
	position: absolute;
	margin-top: 788px;
	right: 235px;
	font-family: dealerplate;
	color: white;
	text-align: right;
	text-decoration: underline;
}

.gridtextfromnewgames {
	position: absolute;
	padding-top: 210px;
	padding-left: 1250px;
	margin-right: 60px;
	font-family: dealerplate;
	font-size: 37px;
}

